/*--- HIDE HEADER TO LOGGED IN USERS ---*/
.logged-in .head-bg {display: none;}

/*--- FIVE COLUMNS SETTINGS ---*/
.col-xs-5grid, .col-sm-5grid, .col-md-5grid, .col-lg-5grid {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-5grid {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-5grid {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-5grid {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-5grid {
		width: 20%;
		float: left;
	}
}
/*--- NAV CUSTOM CSS ---*/
.login-user-down .be-dropdown-content {color: #fff;}
.login-user-down .be-drop-down:after {color:#fff;}
.notofications-popup {color:#fff;}
.messages-popup {color:#fff;}

.cmn-toggle-switch {
	width: 30px;
	height: 30px;
	overflow: initial;
}
.cmn-toggle-switch span {
	top: 20px;
	height: 2px;
}
.cmn-toggle-switch span::after {bottom: -8px;}
.cmn-toggle-switch span::before {top: -8px;}
.cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: "";
}
@media screen and (max-width: 1199px) {
	.login_block .be-drop-down.login-user-down {
		display: none;
		position: absolute;
		top: 86px;
		z-index: 300;
		width: 100%;
		text-align: center;
	}
}

/*--- CUSTOM CONTACT FORM VALIDATION ---*/
div.wpcf7-response-output {text-align: center;}
div.wpcf7-mail-sent-ng {border: initial;}
div.wpcf7-spam-blocked {border: initial;}
div.wpcf7-mail-sent-ok {border: initial; color: green;}
div.wpcf7-validation-errors {border: initial; color: red;}
div.wpcf7 .ajax-loader {
	background-image: url('../img/loader.gif');
	background-size: cover;
	width: 32px;
	height: 32px;
}

/*--- FILTER ITEM ---*/
.col-md-5grid.filter-item {
	margin-bottom: 10px;
}

#instagrammodal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	height: 100%;
	width: 100%;
	display: none;
}
.modalconent {
	background-image: url(../img/instagram_popup.jpg);
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 500px;
}
.close-modal {
	position: absolute;
	right: -20px;
	top: -25px;
	color: #fff;
}
@media screen and (max-width: 39.9375em) {
	.modalconent {
		background-image: url(../img/instagram_popup_mobile.jpg);
		width: 80%;
		height: initial;
		padding-top: 80%; /* 1:1 Aspect Ratio */
	}
}
